.gradle
build
!build/libs/*.jar
.idea
*.iws
*.iml
*.ipr
out
.git
.gitignore
.env
.env.example
*.md
*.log
*.ps1
.vscode
Novel-Backend-API.postman_collection.json
openapitools.json
novel-backend.iml
src/test
build/reports
build/test-results
build/tmp
build/classes/java/test
build/generated/sources/annotationProcessor/java/test

